/* color palette */
.bg1{ background-color: #F6F3EC; }
.bg2{ background-color: #939963; }
.bg3{ background-color: #99A28B; }
.bg4{ background-color: #877974; }
.bg5{ background-color: #2E2B32; }
html{
    scroll-behavior: smooth;
}
#mobileNavbar{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}
#mobileNavbar a{
    font-size: 10px;
    height: 75px;
    max-height: 75px;
}
.icone{
    height: 2.5vw;
}
h1{
    color:white;
    font-size: 7vw;
}
article h2{
    text-align: center;
    font-size: 5vw;
}
h3{
    text-align: center;
    font-size: 3.5vw;
}
p{
    font-size: 2.5vw;
}
header h2, header p{
        color: grey;
}
header h2{
    font-size: 3.5vw;
}
#stickyNavbar a, #contact{
    color: grey;
}
#stickyNavbar{
    border-bottom: 1px solid grey;
}
.idle{
    position:relative;
}
.conteneur_progess_bar{
	width:100%;
	height:15px;
	background-color:#f7f7f7;
	border:1px solid #e7e7e7;
	display:inline-block;
}
.progress_bar{
	background-color:#cb2025;
	width:1%;
	height:13px;
	border:2px solid #f7f7f7;

}
body{
    font-family: 'Merriweather', cursive;
    padding-bottom: 75px;
}
/*  ----- MEDIA QUERRIES ---------*/
@media handheld{
    ::-webkit-scrollbar {
        display: none;
    }
}
/* mode paysage */
@media (orientation: landscape) {
    #mobileNavbar{
        display: none;
    }
    #stickyNavbar{
        display: block;
    }
}
/* responsive pour ecran sm */
@media all and (min-width : 576px ){

}
/* responsive pour les ecran md */
@media all and (min-width : 768px ){
    main{
        padding-bottom: 0px;
    }
    #mobileNavbar{
        display: none;
    }
}
/* responsive pour les ecran lg */
@media all and (min-width : 992px ){
    #nomPrenom{
        font-size: 4em;
    }
}
/* responsive pour les ecran xl */
@media all and (min-width : 1200px ){

}
